.card-wrap {
	display: flex;
	margin: 0 -15px;
	flex-flow: row wrap;

	.card {
		margin: 0 15px 30px 15px;
		min-width: 275px;
	}
}

.card {
	background: $white;
	border-radius: 5px;
	box-shadow: 2px 3px 20px rgba($black, .1);
	max-width: 275px;
	padding-bottom: 20px;

	.card-header {
		padding: 10px 45px 10px 20px;
		position: relative;
		min-height: 75px;

		h4 {
			color: $darkenGrey;
			font-weight: 500;

			&.title-portfolio {
				min-height: 56px;
				margin-bottom: 0;
			}
		}

		.dropdown {
			float: right;
			position: absolute;
			right: 10px;
			top: 20px;
			font-size: 2rem;
			color: $grey-100;

			.dropdown-menu {
				left: initial;
				right: -6px;
				top: 90%;
			}
		}
	}

	&.card-100 {
		max-width: initial;
		padding: 25px 35px 40px;
	}

	&.no-style {
		padding: 0 !important;
		box-shadow: none;
		background-color: transparent;
	}
}

.card-body,
.card-footer {
	padding: 0 20px;
	color: $grey-200;

	i.fa-globe {
		font-size: 2rem;
	}
}

.wrap-card-in {
	padding: 20px 20px 30px !important;
	height: 100%;
}

.card-in {
	background: $lighterGrey;
	padding: 20px;
	height: 100%;
}

.card-outer {
	padding-bottom: 10px;
	font-size: 1.15rem;

	.card-scrolling {
		max-height: 500px;
		overflow-y: auto;
		margin-right: -6px;
		padding-right: 6px;
		-webkit-overflow-scrolling: touch;
	}

	p {
		margin-bottom: 12px;
	}

	.card {
		padding: 10px;
		margin-bottom: 12px;
	}

	.card-in {
		padding: 10px;
		width: 300px;
		flex: 0 0 300px;
		border-radius: 5px;
		margin-right: 15px;
		height: auto;

		h5 {
			font-weight: 600;
			color: $darkenGrey;
			margin-top: 0;
			position: relative;

			.fa-2x {
				font-size: 1.8rem;
			}

			.title-large {
				font-size: 1.6rem;
				margin-bottom: 0;
			}

			>span {
				word-break: break-word;
				padding-right: 6px;
			}
		}

		&.card-bordered {
			border: 1px dashed rgba($black, .3);

			.btn-dropdown {
				padding: 0;
			}
		}

		.box-filter .search-head .input-group input {
			width: 100% !important;
		}
	}

	.card-outer-scrolling {
		overflow-x: auto;
		width: calc(100% - 240px);
		display: flex;
		padding-bottom: 10px;
		-webkit-overflow-scrolling: touch;
		min-height: 100px;

		.btn-dropdown {
			padding: 0;

			&+.dropdown-menu {
				right: -10px;
			}
		}
	}

	.card-scrolling-multiple {
		width: calc(100% - 315px);

		.card-outer-scrolling {
			width: 100%;
		}

		.scrolling-facilitators,
		.scrolling-supervisors {
			max-height: 355px;
			overflow-y: auto;
			margin-right: -6px;
			padding-right: 6px;
			-webkit-overflow-scrolling: touch;

			.panel {
				padding: 0 6px;

				.card {
					box-shadow: 0 1px 3px rgba($black, 0.15);
					margin-bottom: 7px;
				}

				h4 {
					padding: 5px 6px !important;
					font-size: 1.5rem;
					margin: 0 -6px 5px;
					border-bottom: 1px solid rgba($black, 0.1);
				}
			}
		}

		.scrolling-supervisors {
			max-height: 175px;
			margin-bottom: 20px;
		}
	}
}

.card-full {
	overflow-x: visible;

	.card-in {
		width: 100%;
		flex: 0 0 100%;

		>h5 {
			span {
				display: inline-block;
				background: $lighterGrey;
				position: relative;
				z-index: 2;
				padding-right: 10px;
			}

			&:after {
				@include translateY;
				@include pseudoElementLeft;
				height: 1px;
				border: 1px dashed rgba($black, .3);
				right: 5px;
				z-index: 1;
			}
		}

		.card-scrolling {
			margin: 0;
			padding: 0;
			overflow-y: visible;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;

			.btn-dropdown {
				padding: 0;
			}
		}

		.card {
			margin-right: 10px;
			width: 200px;
			flex: 0 0 200px;
		}
	}
}

.card-right {
	padding-left: 8px;
	width: calc(100% - 30px);
	overflow-wrap: break-word;

	h5 {
		font-size: 1.2rem;
		color: rgba($black, .7) !important;
	}
}

.heading-bordered {
	position: relative;

	span {
		display: inline-block;
		background: $lighterGrey;
		position: relative;
		z-index: 2;
		padding-right: 10px;
		color: $darkBlue;
		font-weight: 600;
	}

	&:after {
		@include translateY;
		@include pseudoElementLeft;
		height: 1px;
		border: 1px dashed rgba($black, .3);
		right: 5px;
		z-index: 1;
	}

	&+p {
		margin-top: -8px;
	}
}

.card {
	&.bg-light-grey {
		background: $lighterGrey;
		padding: 15px 20px;
		margin-top: 18px;

		h5,
		h6 {
			margin: 0 0 10px;
			font-size: 1.8rem;
			font-weight: 600;
			color: $darkenGrey;
		}

		h6 {
			font-size: 1.5rem;
		}
	}

	.info-scroll {
		max-height: 200px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding-right: 15px;
		margin-right: -20px;

		ol {
			padding: 0 0 0 15px;
		}
	}
}

.sidebar-card {
	width: 300px;

	.card {
		min-height: 110px;

		.info-scroll {
			height: 60px;
		}
	}
}

.columns-card {
	width: calc(100% - 300px);
	padding-left: 20px;

	.card {
		height: calc(100% - 20px);
		width: 48.5%;
	}
}

.card-in-full {
	margin-left: -35px;
	margin-right: -35px;
	width: calc(100% + 70px);
}

.sidebar-big {
	width: 375px;

	&+.columns-card {
		width: calc(100% - 375px);
		padding-left: 30px;
	}

	h4 {
		font-size: 1.8rem;
	}
}

.wrap-striped-panel {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

	.list-striped {
		padding: 0px 18px 15px !important;
		min-height: 50px !important;
		overflow: visible !important;

		>li {
			margin-right: -10px;
		}

		>div>li {
			margin-right: -10px;
		}
	}
}

.filter-plan-top {
	label {
		font-size: 1.4rem;
	}
}

.assign-user-left {
	max-height: 635px !important;

	.btn-dropdown+.dropdown-menu {
		right: -10px;
	}
}

.assign-users-bottom {
	.btn-dropdown+.dropdown-menu {
		right: -10px;
	}
}

.wrap-language-dashboard {
	@media (max-width: 767px) {
		padding: 15px 8px;
	}

	.card {
		padding: 15px 20px 18px !important;
		height: 100%;

		>h4 {
			border-bottom: 1px solid rgba($black, .1);
			margin: -5px -18px 5px !important;
			padding: 0 18px 8px;
		}

		.listing-wrap {
			padding: 0 !important;
			height: auto;

			.listing-notes {
				margin-right: -20px !important;
				padding-right: 20px !important;
			}

			.listing-right {
				top: 10px;
				transform: none;

				.creator-name {
					font-size: 1.2rem;
				}

				button {
					font-size: 2rem;

					.fa-pencil {
						font-size: 1.8rem;
					}
				}
			}

			li {
				min-height: 76px;
			}
		}

		.card {
			padding: 0 !important;
			box-shadow: 2px 2px 10px rgba($black, 0.1);
			margin-bottom: 12px;

			h4 {
				padding: 0;
				margin: 0 !important;
				border: 0;

				a {
					margin: 0;
				}
			}

			.panel-collapse {
				border-top: 1px solid rgba($black, .1);
				padding: 15px;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		@media (max-width: 767px) {
			&.engaged-organisations {
				padding: 15px 7px !important;

				>h4 {
					margin: -5px -7px 5px !important;
					padding: 0 15px 8px;
					min-height: initial;
				}

				.custom-dataGrid {
					padding: 0;
				}
			}
		}
	}

	.card-basic .mt-1 {
		margin-top: 15px !important;
	}

	.language-status {
		.status-in {
			padding: 8px 0;
			border-bottom: 1px solid rgba(0, 0, 0, .1);

			&:last-of-type {
				border-bottom: 0;
			}

			.col-md-5 {
				padding-right: 0;
			}

			@media (max-width: 991px) {
				flex-flow: row wrap;
				padding-top: 12px;

				&:before,
				&:after {
					display: none;
				}

				>.col-md-3 {
					width: 38%;
					padding: 0 5px 0;
				}

				>.col-md-4 {
					width: 62%;
					padding-right: 5px;
				}

				>.col-md-5 {
					width: 100%;
					padding-bottom: 5px;
				}
			}
		}

		select.form-control {
			height: 30px;
			padding-top: 5px;
			min-width: 100%;

			&.bg-dark {
				color: $white;
			}
		}
	}

	.add-more-info {
		max-height: 350px;
		overflow-y: auto;
		margin-right: -20px !important;
		padding-right: 20px !important;

		.field-editable {
			outline: none;
			padding: 5px 10px;
			transition: all .3s ease;
			font-weight: 500;
			border: 1px solid $white;
			border-radius: 4px;

			&:focus {
				border: 1px solid rgba($black, .15);
			}
		}

		p {
			margin: 0;
			padding: 5px 0;
			display: inline;
		}

		.more-info-in {
			padding: 5px;
			border-radius: 4px;
			box-shadow: 0 0 2px rgba($black, 0.25);
			float: left;
			margin: 5px;
			width: calc(100% - 5px);

			&:last-child {
				margin-bottom: 10px;
			}

			>div {
				padding-left: 8px;
			}

			@media (max-width: 991px) {
				justify-content: flex-start;
				align-items: initial;
				flex-direction: column;
				padding-top: 10px;
			}
		}
	}

	.wrap-complete-language {
		.wrap-accordion {
			max-height: 340px;
			overflow-y: auto;
			margin-right: -20px !important;
			margin-left: -20px !important;
			padding-right: 20px !important;
			padding-left: 20px;
			padding-top: 10px;
			overflow-x: hidden;
		}
	}

	.wrap-card-basic {
		max-height: 275px;
		overflow-y: auto;
		margin-right: -20px !important;
		margin-left: -20px !important;
		padding-right: 20px !important;
		padding-left: 20px;
		padding-top: 10px;
		overflow-x: hidden;

		@media (max-width: 479px) {
			padding-top: 0;
		}
	}

	.wrap-add-notes {
		@media (max-width: 991px) {
			.listing-notes {
				li {
					padding-right: 0;

					.listing-right {
						position: relative;
						text-align: left;
						max-width: initial;
						padding-right: 50px;
						top: initial;
						margin: 10px 0 5px;

						>.btn-notes {
							position: absolute;
							right: 0;
							top: 0;
						}
					}
				}
			}
		}
	}
}

.wrap-complete-language {
	.box-filter .search-head .input-group input {
		width: 175px !important;
	}

	.panel table.striped-2 {
		min-width: 100% !important;

		td {
			padding: 6px 10px !important;
		}

		.btn-unstyled {
			padding: 0 10px;
		}
	}

	.table-responsive {
		overflow: inherit;
	}
}

.engaged-organisations {
	>h4 {
		min-height: 46px;
		position: relative;

		.filter-engaged {
			font-size: 1.6rem;

			.form-control {
				height: 34px;
				padding: 4px 22px 4px 10px;
			}
		}

		@media (max-width: 479px) {
			.filter-engaged {
				>span {
					display: none;
				}

				.custom-select {
					min-width: 130px;
					margin: 0;
				}
			}
		}
	}

	.filter-engaged {
		.multiselect__tag .multiselect__tag-icon {
			line-height: 21px;
		}

		.multiselect__content-wrapper {
			min-width: 275px !important;
			right: 0px;
		}
	}

	@media (max-width:1400px) {
		.table-responsive {
			overflow-x: auto;
		}
	}

	table.table {
		td {
			border-right: 1px solid $lightGrey;

			.form-control {
				height: 32px;
				background: transparent !important;
			}
		}
	}
}

.wrap-complete-language,
.engaged-organisations {
	@media (max-width: 991px) {
		h4 {
			flex-direction: column;
			align-items: initial;

			>.d-flex {
				justify-content: space-between;
				margin-top: 6px;
			}
		}
	}
}

.language-status,
.add-more-info {
	.btn-no-style {
		display: inline;
		padding-right: 5px;
	}

	.listing-right {
		display: inline;

		button {
			color: rgba($black, .4);
			font-size: 2rem;
			padding: 2px;

			i.fa-pencil {
				font-size: 1.8rem;
			}
		}
	}
}

// Language Dashboard
.wrap-language-dashboard {

	.wrap-complete-language,
	.wrap-add-more-info {
		position: relative;
		padding-bottom: 68px !important;

		.btn-load {
			position: absolute;
			bottom: 15px;
			left: 0;
			margin: 0;
			width: 100%;
		}

		&.no-load-more-info {
			padding-bottom: 18px !important;
		}
	}
}
body.sidebar-collapse{
	.language-info-text {
		max-width: calc(100vw - 650px) !important;
	}
}
.cards-language {
	padding-top: 55px;

	.language-info-text {
		position: fixed;
		right: 15px;
		top: 70px;
		z-index: 999;
		transition: all 300ms ease;
		max-width: calc(100vw - 830px);
		width: 100%;
		@media(max-width: 1499px){
			top: 55px;
		}
		@media(max-width: 1499px){ 
			font-size: 11px !important;
		}
	}

	.multiselect__input {
		display: block !important;
	}

	@media (max-width: 1199px) {
		.badges-head {
			display: none;
		}

		.col-md-6,
		.col-md-12 {
			width: 100%;
		}
	}

	.select-sticky {
		z-index: 751;

		.multiselect__tags {
			background: $white;

			.multiselect__single {
				font-size: 15px;
				margin: 0;
			}

			.multiselect__input {
				margin: 0;
			}
		}

		@media (max-width: 991px) {
			position: relative !important;
			top: 10px;
			left: 15px !important;
			z-index: 1;
		}

		@media (max-width: 767px) {
			left: 8px !important;
			width: calc(100% - 16px);
		}
	}

	@media (max-width: 991px) {
		padding-top: 0;
	}

	@media (max-width: 767px) {
		.select-sticky {
			.multiselect__single {
				font-size: 1.6rem;
				margin: 2px 0 6px;
			}

			.multiselect__content-wrapper,
			.multiselect__input {
				font-size: 1.5rem;
			}
		}
	}
}